.ListElement{
    display:flex;
    align-items: center;
}

.ListContent{
    padding:5px;
    margin: 10px 5px;
    width: 300px;
    word-break: break-word;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}
.ListDelete{
    margin-left: 10px;
    height:20px;
}
.InputDiv{
    margin:20px 5px;
}
body{
    background-color: beige;
}